<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0">Work Experience</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>

            <div ngClass.gt-xs="tb-height--10" ngClass.xs="tb-height--10"></div>

            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxFlex.xs="none" fxFlex.sm="70" fxLayout="column">
                    <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
                   
                    <div class="work-experience-container">
                      <div class="experience">
                        <div class="experience-period">2019 – Present</div>
                        <div class="experience-details">
                          <h3>Blue Stone Solution Co.,Ltd</h3>
                          <h4>Senior Frontend Developer (Unit Lead)</h4>
                          <ul>
                            <li>
                              Lead a team of developers to ensure timely delivery of high-quality solutions that met client expectations and industry standards.
                            </li>
                            <li>
                              Provided ongoing support and maintenance for deployed applications, addressing bugs, implementing enhancements, and ensuring compatibility with latest platform updates.
                            </li>
                          </ul>
                        </div>
                      </div>
                      
                      <div class="experience">
                        <div class="experience-period">Jan 2019 – Sept 2019</div>
                        <div class="experience-details">
                          <h3>MBC Software Development Center</h3>
                          <h4>JAVA Developer</h4>
                          <ul>
                            <li>
                              Developed and maintained Jasper Reports for generating various financial and HR reports, ensuring accuracy and compliance with regulatory requirements.
                            </li>
                            <li>
                              Designed and implemented a comprehensive HR system to streamline employee management processes, including payroll, attendance tracking, and performance evaluation.
                            </li>
                            <li>
                              Designed and implemented TechnoReward, a points-based reward system allowing users to exchange points for items available in Technoland, Myanmar.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>
