<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <!-- <div class="tb-position--absolute tb-height--full"> -->
    <!-- <div class="background-bar">

        <div class="tb-container vertical-line-container" fxLayoutAlign="space-between stretch">
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
        </div>
    </div> -->
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <!-- <p>home-about works!</p> -->

            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0">About Me.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>

            <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>


            <div fxLayout="row" fxLayout.xs="column">
                <div [fxFlexOrder]='1' [fxFlexOrder.xs]="2" fxFlex fxFlex.xs="none" fxFlex.sm="70" fxLayout="column">
                    <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
                   
                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black">With over 5 years of experience in frontend development,
                        <span class="tb-color--black"> I discovered my passion for coding during
                            my teenage years,</span>  where it began as a hobby and gradually evolved into a defining aspect of my
                            career path.
                            Over the years, I've actively pursued opportunities to enhance my skills and knowledge
                            in frontend development, particularly focusing on Angular and Ionic frameworks.
                    </p>
                    <div ngClass.gt-sm="tb-height--12" ngClass.sm="tb-height--8" ngClass.xs="tb-height--6"></div>

                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black">Currently, I am
                        thrilled to be a part of the talented team at Blue Stone Solution Co., Ltd., where I serve as a
                        Frontend Developer. Working in this dynamic environment allows me to leverage my expertise in
                        Angular and Ionic development while also constantly challenging myself to learn and adapt to new
                        technologies and methodologies..</p>
                    <!-- <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}"
                        class="current-typo--body1-medium tb-color--black-54">I have built over 30+ products in last 5
                        years.</p> -->

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}" fxLayout="row">
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">05+</h2>
                            <h4 class="title current-typo--h6">Years of Experience</h4>

                        </div>

                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">10+</h2>
                            <h4 class="title current-typo--h6">Projects Completed</h4>

                        </div>

                    </div>

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:400}}" fxLayout="row wrap"
                        fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Frontend</h5>
                        </div>

                        <div class="skill" style="background-color: #FFD647;">
                            <h5 class="current-typo--h5 tb-color--black">Angular</h5>
                        </div>

                        <div class="skill" style="background-color: #F57FFF;">
                            <h5 class="current-typo--h5 tb-color--black">Ionic</h5>
                        </div>

                        <div class="skill" style="background-color: #6F73C3;">
                            <h5 class="current-typo--h5 tb-color--white">Flutter</h5>
                        </div>
                        <div class="skill" style="background-color: #027DFD;">
                            <h5 class="current-typo--h5 tb-color--white">React</h5>
                        </div>
                    </div>
                    <div class="tb-height--8"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:500}}" fxLayout="row wrap"
                        fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Backend</h5>
                        </div>

                        <div class="skill" style="background-color: #F44040;">
                            <h5 class="current-typo--h5 tb-color--white">JAVA</h5>
                        </div>

                        <div class="skill" style="background-color: #68F17E;">
                            <h5 class="current-typo--h5 tb-color--black">TypeScript</h5>
                        </div>

                        <div class="skill" style="background-color: #027DFD;">
                            <h5 class="current-typo--h5 tb-color--white">JavaScript</h5>
                        </div>
                        <div class="skill" style="background-color: #6F73C3;">
                            <h5 class="current-typo--h5 tb-color--white">NodeJs</h5>
                        </div>
                    </div>




                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row"
                        fxLayoutAlign="start center" fxLayoutGap="32">
                        <a class="btn-area-cv"
                            href="https://drive.google.com/file/d/1aZGmtkRq5wrKJ365isUddpDNln4criuh/view?usp=drive_link"
                            target="_blank">
                            <button mat-raised-button style="background-color: #027DFD;"><span class="current-typo--button-medium" style="color: #fff;">Download
                                    CV.</span></button>

                        </a>

                      

                    </div>

                </div>
                <div fxFlex.xs="none" fxFlex [fxFlexOrder.xs]="1" [fxFlexOrder]='2' class="image-container"
                fxLayout="column" fxLayoutAlign="center stretch">
               <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 800}}"
                    class="tb-text--align-center image-area" #imageAreaView>
                   <div class="profile-card">
                       <img class="profile-image tb-position--relative" src="assets/img/avatar/profile.jpg" alt="Profile Image" />
                       <div class="profile-details">
                           <h3 class="profile-name">KHANT TI KYI</h3>
                           <p class="profile-description">Senior Frontend Developer at Blue Stone Solution Co., Ltd.</p>
                       </div>
                   </div>
               </div>
           </div>
           

            </div>



        </div>
    </div>
</div>